
.allElements{

    width:100%;
    margin-top:10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;



}

@media(max-width:854px){
    .allElements{
        justify-content: space-evenly;

    }
}

