

.element{
    contain: content;

    border-radius: 8px;
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    background-image:url('/src/Assets/chica1.jpg');
    background-position: center;
    background-size: cover;
    width:160px;

    height:207px;
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    margin: 18px 11px 18px 0;
}

.element__nueva{

    align-self: flex-end;
    margin-top: 14px;
    margin-right:-22px;
    width:80px;
    height:14px;
    font-family: Monda;
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 13px;

    text-align: center;

    color: #FFFFFF;

    transform: matrix(0.74, 0.74, -0.62, 0.73, 0, 0);


    background: #4FCE5C;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.25);

}

.element__footer{
    height:53px;
    background-color:#EDEDED;
    display:flex;
    flex-flow:column;
    border-radius: 0px 0px 8px 8px;


}
.element_options{
    height:23px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:0.5px solid #C1C1C1;



}
.element__optionsOne{
    display: flex;
    align-items: center;
}
.element__optionsTwo{
    display:flex;
    align-items: center;
}
.img__webcam{
    margin-left: 10px;
    margin-right: 10px;
    width: 11px;
    height: 14px;
}
.img__hotel{
    width:13px;
    height: 14px;
}
.img__creditCard{
    width: 13px;
    height:10px
}
.img__dr{
    margin-left: 6px;
    margin-right: 6px;
    width: 15px;
    height: 14px;
}
.element__stateContainer{
    height:29px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    }
.element__stateContainer > div{
    width: 124px;
    height: 18px;
    background: #4FCE5C;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: Monda;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    text-align:center;
    cursor:pointer;
}

@media(max-width:854px){
    .element{
        width:200px;
       margin:10px 0;

    }

}

