
/*----Movil First-----*/
.details{
    width: 100%;
    display:flex;
    flex-flow: column;
    margin-top:27px;
    align-items: center;
}

.left__options{
    background-color: #FFFFFF;
    width:410px;
    height:55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.left__optionsOne, .left__optionsTwo{
    display: flex;
    align-items: center;
}

.details__right{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    width: 410px;
    height:302px;
    margin-top:21px;
}
.img__webcam{
    margin-left: 10px;
    margin-right: 10px;
    width:29px;
    height:33px;
}
.img__hotel{
    width: 33px;
    height: 33px;
}
.img__creditCard{
    width: 34px;
    height: 23px;
}
.img__dr{
    margin-left: 6px;
    margin-right: 6px;
    width: 41px;
    height: 33px;
}

.left__main{
    margin-top:11px;
    background-color: white;
    width: 410px;
    height:429px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}
.left__footer{
    margin-top:9px;
    width: 410px;
    height: 110px;
    display: flex;
    justify-content: space-between;
}

.left__footer img{
    width: 98px;
    height:110px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}



.right__top{
    width: 100%;
    display: flex;
    flex-flow: column;
}
.right__top--stars{
    display: flex;
    align-self: flex-end;
    margin-right: 26px;
}
.right__top--stars span{
    color: #C4C4C4;
    font-size:18px;
    margin-left:14px;
}
.right__top--name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #848484;
    margin-right: 26px;
    margin-left: 18px;
    margin-bottom: 15px;

}
.right__top--description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    text-align: justify;
    margin-right: 26px;
    margin-left: 18px;
    color: #848484;

}
.right__bottom{
    align-self: center;
    height: 25px;
    width: 166px;
    background: #4FCE5C;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color: #FFFFFF;
}
@media(min-width: 501px){
    .details{

        flex-flow: row;
        justify-content: space-between;
        align-items: normal;
        margin-top:27px;
    }

    .details__left{
        flex: 0.24;

    }

    .left__options{
        width: 100%;
        height:23px;
    }


    .img__webcam{
        margin-left: 10px;
        margin-right: 10px;
        width: 13px;
        height: 14px;
    }
    .img__hotel{
        width:16px;
        height: 14px;
    }
    .img__creditCard{
        width: 15px;
        height:10px
    }
    .img__dr{
        margin-left: 6px;
        margin-right: 6px;
        width: 18px;
        height: 14px;
    }

    .left__main{
        margin-top:11px;
        width: 100%;
        height:197px;
    }

    .left__footer{
        margin-top:9px;
        width: 100%;
        height: 54px;
    }
    .left__footer img{
        width: 46px;
        height:54px;
    }
    .details__right{
        flex:0.70;

    }

    .details__right{
    margin-top: 0;
    flex: 0.74;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    height: auto;

}

.right__top--description{
    flex-wrap:wrap;
       }
.right__bottom{
   height: 25px;
   width: 166px;
  }
}