

/*----Movil First-----*/

.navBar{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 22px;
    color:#000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: Monda;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}
.navBar__groupOne{
    display: flex;
    margin-left: 40px;
}
.navBar__groupOne div, .navBar__groupTwo{
    display: flex;

    width:68px;
    height: 22px;

    text-align: center;
    cursor:pointer;
}