
/*----Movil First-----*/
.app{
    display:grid;
}
.app__container{
    display: flex;
    flex-flow: column;
    max-width:857px ;
}

@media(min-width: 501px){
    .app{
        place-items: center;
    }
}