@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



/*----Movil First-----*/
.logo{
    width: 496px;
    height: 130px;

    align-self: center;
    display:flex;
    align-items:center;
}
.logo__title{

    width: fit-content;
    align-self:center;
    margin-bottom:30px;
    margin-left:28px;
}
.logo__este{
    margin-left:38px;
    width: 130.07px;
    height: 26.95px;
    font-family: Dancing Script;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #CE5E5E;
    transform: matrix(0.98, -0.1, 0.23, 0.99, 0, 0);
    }
.logo__lugar{

    height: 43.16px;
    font-family: Indie Flower;
    font-style: normal;
    font-weight: normal;


    color: #8F1414;


    width: fit-content;
    font-size: 42px;
    line-height: 61px;
    transform: matrix(0.99, -0.04, 0.12, 1, 0, 0);
}

.logo__image{
    width: 95px;
    margin-left:15px;
}